*{
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  font-size: 35px;
}

.menu {
    display: flex;
}

.menu a {
    flex: 1;
    border: 1px solid gray;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }



/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header'
    'content content content content content side'
    'content content content content content side'
    'content content content content content side'
    'content content content content content side'
    'content content content content content side'
    'content content content content content side'
    'content content content content content side'
    'content content content content content side'
    'footer footer footer footer footer footer';
    width: 100vw;
    height: 100vh;
} 

.content,
.side {
  padding: 10px;
}

.content {
  grid-area: content;
}

.side {
  grid-area: side;
  background-image: url(images/151887561914459365.jpg);
  background-position: center center, center top;
  background-repeat: repeat, no-repeat
}

/* Style the footer */
.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'header header header' 
      'content content content'
      'side side side'
      'footer footer footer';
  }     
  .menu{
    display: flex;
    flex-direction: column;
    }

}